:root {
    --color1: rgb(0, 0, 0);
    --color2: rgb(248,248,255);
    --color3: rgb(220,20,60);
    --color4: rgb(250,128,114);
    --color5: rgb(255,69,0);
    --color6: rgb(255,240,245);
    --antique: rgb(250,235,215);
}
*, html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ###############
 * ####################
 * 
 * Loading section
 *
 * ####################
 * ###############
*/

.loading {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: var(--color1);
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader {
    --path: #fff;
    --dot: red;
    --duration: 3s;
    width: 44px;
    height: 44px;
    position: relative;
  }
  
  .loader:before {
    content: '';
    width: 6px;
    height: 6px;
    border-radius: 50%;
    position: absolute;
    display: block;
    background: var(--dot);
    top: 37px;
    left: 19px;
    transform: translate(-18px, -18px);
    animation: dotRect var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
  }
  
  .loader svg {
    display: block;
    width: 100%;
    height: 100%;
  }
  
  .loader svg rect, .loader svg polygon, .loader svg circle {
    fill: none;
    stroke: var(--path);
    stroke-width: 10px;
    stroke-linejoin: round;
    stroke-linecap: round;
  }
  
  .loader svg polygon {
    stroke-dasharray: 145 76 145 76;
    stroke-dashoffset: 0;
    animation: pathTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
  }
  
  .loader svg rect {
    stroke-dasharray: 192 64 192 64;
    stroke-dashoffset: 0;
    animation: pathRect 3s cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
  }
  
  .loader svg circle {
    stroke-dasharray: 150 50 150 50;
    stroke-dashoffset: 75;
    animation: pathCircle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
  }
  
  .loader.triangle {
    width: 48px;
  }
  
  .loader.triangle:before {
    left: 21px;
    transform: translate(-10px, -18px);
    animation: dotTriangle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
  }
  
  @keyframes pathTriangle {
    33% {
      stroke-dashoffset: 74;
    }
  
    66% {
      stroke-dashoffset: 147;
    }
  
    100% {
      stroke-dashoffset: 221;
    }
  }
  
  @keyframes dotTriangle {
    33% {
      transform: translate(0, 0);
    }
  
    66% {
      transform: translate(10px, -18px);
    }
  
    100% {
      transform: translate(-10px, -18px);
    }
  }
  
  @keyframes pathRect {
    25% {
      stroke-dashoffset: 64;
    }
  
    50% {
      stroke-dashoffset: 128;
    }
  
    75% {
      stroke-dashoffset: 192;
    }
  
    100% {
      stroke-dashoffset: 256;
    }
  }
  
  @keyframes dotRect {
    25% {
      transform: translate(0, 0);
    }
  
    50% {
      transform: translate(18px, -18px);
    }
  
    75% {
      transform: translate(0, -36px);
    }
  
    100% {
      transform: translate(-18px, -18px);
    }
  }
  
  @keyframes pathCircle {
    25% {
      stroke-dashoffset: 125;
    }
  
    50% {
      stroke-dashoffset: 175;
    }
  
    75% {
      stroke-dashoffset: 225;
    }
  
    100% {
      stroke-dashoffset: 275;
    }
  }
  
  .loader {
    display: inline-block;
    margin: 0 16px;
  }
  
   

/* ###############
 * ####################
 * 
 * Navbar section
 *
 * ####################
 * ###############
 */

body {
    width: 100%;
    height: 100%;
    color: var(--color2);
    background: rgba(0, 0, 0, 1);
    font-family: "Ubuntu Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 200;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
}

.head {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background: linear-gradient(45deg, var(--color3), var(--color5), var(--color4)); */
    background: var(--color1);
    background-size: 500%;
    z-index: 999;
}


.head a img {
    width: 160px;
    height: 80px;
}

.head nav {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
}

.head nav button {
    margin-right: 2rem;
}

.head nav button {
    font-size: 1.1rem;
    color: var(--color2);
    background: transparent;
    border: none;
    cursor: pointer;
}

.mobile-nav {
    display: none;
}

@media screen and (max-width: 800px) {
    .head nav {
        position: absolute;
        transform: scaleX(0);
        transform-origin: right;
        visibility: 0;
        opacity: 0;
        top: 120%;
        right: 10px;
        width: 80%;
        height: 80vh;
        flex-direction: column;
        justify-content: baseline;
        align-items: center;
        background-color: var(--color4);
        gap: 2rem;
        transition: all 2s;
    }

    .head nav button{
        margin-right: 0rem;
        width: 100%;
        padding: 20px;
    }

    .head nav button:hover{
        background: var(--color1);
    }

    .head .show {
        transform: scaleX(1);
        transform-origin: right;
        visibility: 1;
        opacity: 1;
    }

    .mobile-nav {
        position: relative;
        right: 2%;
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
        background: transparent;
        border: none;
    }

    .mobile-nav div {
        width: 40px;
        height: 5px;
        border-radius: 2px;
        background: var(--color2);
        transition: 2s;
    }

    .closing div:nth-child(1) {
        position: relative;
        top: 7px;
        transform: rotate(45deg);
    }

    .closing div:nth-child(2) {
        display: none;
    }

    .closing div:nth-child(3) {
        transform: rotate(-45deg);
    }
}

/* ###############
 * ####################
 * 
 * Landing section
 *
 * ####################
 * ###############
 */

.landing {
    width: 100%;
    height: 100%;
    position: sticky;
    top: 0;
}

.landing img {
    width: 100%;
    height: 100vh;
}

.landing .content,
.elevate .content {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    gap: 1.2rem;
    width: 100%;
    height: 100%;
}

.landing .content::after,
.elevate .content::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.landing .content h1,
.elevate .content h1,
.elevate .content p,
.landing .content h2,
.landing .content button {
    width: 50%;
    z-index: 2;
}

.landing .content button {
    position: relative;
    left: 12%;
    margin-top: 20px;
    width: 24%;
    height: 64px;
    border-radius: 8px;
    border: none;
    font-size: 1.6rem;
    font-weight: 550;
    color: var(--antique);
    transition: 0.5s;
    cursor: pointer;
}

.landing .content button::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, var(--color3), var(--color5), var(--color4));
    background-size: 300%;
    border-radius: 4px;
    z-index: -1;
}

.landing .content button:hover {
    transform: scale(1.1);
} 

.landing .content button:hover::before {
    background-position: 100%;
}

.landing .content h1,
.elevate .content h1 {
    font-weight: 400;
}

.landing .content h2 {
    font-size: 1.8rem;
    font-weight: 200;
}

@media screen and (max-width: 800px) {
    .landing .content h1,
    .elevate .content h1,
    .elevate .content p,
    .landing .content h2,
    .landing .content button {
        width: 100%;
    }

    .landing .content button {
        left: 5%;
        width: 90%;
    }

    #eval-img {
        width: 100%;
        left: 0;
    }
}

/* ###############
 * ####################
 * 
 * Elevate section
 *
 * ####################
 * ###############
*/

.elevate {
    position: sticky;
    width: 100%;
    height: 100%;
    background: var(--color1);
    top: 0;
}

.elevate img {
    position: relative;
    right: -50%;
    width: 50%;
    height: 100vh;
}

.elevate .content h1 {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: 2.8rem;
    font-style: normal;
}

.elevate .content p {
    font-size: 1.5rem;
}


/* ###############
 * ####################
 * 
 * Why section
 *
 * ####################
 * ###############
 */

.why {
    position: relative;
    width: 100%;
    height: 100%;
    padding-top: 2.4%;
    padding-bottom: 2.4%;
    background: black;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.why h1 {
    text-align: center;
    z-index: 2;
}

.why .why-cards {
    position: relative;
    z-index: 2;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    gap: 2rem;
}

.why .why-cards::before {
    content: "";
    position: absolute;
    left: 48%;
    width: 5px;
    height: 100%;
    border-radius: 2.5px;
    background: var(--color2);
}

.why .why-cards .card {
    position: relative;
    width: 44%;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    border: 1px solid var(--color3);
    border-radius: 20px;
    padding: 2.4%;
}

.why .why-cards .card img {
    position: absolute;
    width: 54px;
    height: 54px;
    border-radius: 50%;
    border: 2px solid var(--color2);
}

.why .why-cards .left {
    left: 0;
}

.why .why-cards .left img {
    left: 105%;
}

.why .why-cards .right {
    left: 50%;
}

.why .why-cards .right img {
    left: -10%;
}

.why .why-cards .card ul li {
    padding-bottom: 2rem;
}

@media screen and (max-width: 800px) {
    .why .why-cards::before {
        left: 4%;
    }

    .why .why-cards .card {
        width: 90%;
    }

    .why .why-cards .card img {
        width: 40px;
        height: 40px;
    }

    .why .why-cards .left {
        left: 10%;
    }

    .why .why-cards .left img {
        left: -12%;
    }

    .why .why-cards .right {
        left: 10%;
    }

    .why .why-cards .right img {
        left: -12%;
    }
}

 /* ###############
 * ####################
 * 
 * Mission section
 *
 * ####################
 * ###############
 */

.mission {
    position: sticky;
    width: 100%;
    height: 100%;
    top: -210px;
    color: var(--color2);
    z-index: 2;
}

.mission::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 1);
    z-index: -1;
}

#mission-img{
    width: 50%;
    height: 150vh;
    z-index: 2;
}

.mission .content {
    position: absolute;
    width: 45%;
    height: 100%;
    top: 10%;
    right: 3%;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1.2rem;
    z-index: 2;
}

.mission .content h1 {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: 2rem;
    font-style: normal;
}

.mission .motto {
    position: absolute;
    width: 45%;
    height: 100%;
    top: 40%;
    right: 3%;
    display: flex;
    flex-direction: column;
    text-align: center;
    z-index: 2;
}

.mission .motto h1 {
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: 300;
    font-size: 2rem;
    font-style: normal;
}

.mission .partners {
    position: absolute;
    width: 60%;
    height: 100%;
    top: 50%;
    right: -4%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
    transform: scale(0.7);
    z-index: 2;
}

.mission .partners h2 {
    font-size: 2rem;
}

.mission .partners .img {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: space-evenly;
    overflow: hidden;
}

.mission .partners .img img {
    width: 240px;
    height: 80px;
}

.marquee {
    display: flex;
    justify-content: space-evenly;
    /* animation: scroll 15s 0s linear infinite; */
}

.marquee img {
    margin-right: 10px;
    position: relative;
    top: 15%;
}

.marquee:hover {
    animation-play-state: paused;
}

@keyframes scroll {
    from {
        transform: translateX(101%);
    }
    to {
        transform: translateX(-101%);
    }
}

@media screen and (max-width: 800px) {
    .mission {
        top: -400px;
    }
    #mission-img{
        position: relative;
        width: 100%;
    }
    .mission::after{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6);
        z-index: 2;
    }

    .mission .content {
        width: 100%;
        right: 1%;
        z-index: 3;
    }

    .mission .motto {
        width: 100%;
        z-index: 3;
    }

    .mission .partners {
        width: 100%;
        z-index: 3;
    }

    .mission .partners .img img {
        width: 120px;
    }
}

 /* ###############
 * ####################
 * 
 * Contact section
 *
 * ####################
 * ###############
 */

 .contact {
    position: relative;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,1);
    z-index: 3;
 }

.contact img {
    position: absolute;
    top: 10%;
    left: 50%;
    width: 50%;
    height: 90%;
    z-index: 4;

}

 .login-box {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 20px;
    background: rgba(0,0,0,1);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    z-index: 3;
  }
  
  .login-box p:first-child {
    margin: 0 0 4px;
    color: #fff;
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 1px;
    z-index: 4;
  }
  
  .login-box .user-box,
  .login-box .textarea {
    position: relative;
    width: 50%;
    margin-bottom: 20px;
  }
  
  .login-box .user-box input,
  .login-box .textarea textarea {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    border: none;
    border-bottom: 1px solid #fff;
    background: transparent;
    outline: none;
  }
  
  .login-box .user-box label,
  .login-box .textarea label {
    position: absolute;
    top: 10px;
    left: 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label,
  .login-box .textarea textarea:focus ~ label,
  .login-box .textarea textarea:valid ~ label {
    top: -20px;
    left: 0;
    color: #fff;
    font-size: 12px;
  }
  
  .login-box form button {
    display: flex;
    width: 20%;
    align-self: center;
    align-items: center;
    padding: 10px 20px;
    font-weight: bold;
    color: #fff;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    letter-spacing: 3px;
    background: var(--color3);

  }
  
  .login-box form button:hover {
    background: var(--color2);
    color: #272727;
    border-radius: 5px;
  }
  
  .login-box form button span {
    position: absolute;
    display: block;
  }
  
  .login-box form a button:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #fff);
    animation: btn-anim1 1.5s linear infinite;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
  
    50%, 100% {
      left: 100%;
    }
  }
  
  .login-box form button span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #fff);
    animation: btn-anim2 1.5s linear infinite;
    animation-delay: .375s;
  }
  
  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
  
    50%, 100% {
      top: 100%;
    }
  }
  
  .login-box form button span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #fff);
    animation: btn-anim3 1.5s linear infinite;
    animation-delay: .75s;
  }
  
  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
  
    50%, 100% {
      right: 100%;
    }
  }
  
  .login-box form button span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #fff);
    animation: btn-anim4 1.5s linear infinite;
    animation-delay: 1.125s;
  }
  
  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
  
    50%, 100% {
      bottom: 100%;
    }
  }
  
  .login-box p:last-child {
    color: #aaa;
    font-size: 14px;
  }
  
  .login-box a.a2 {
    color: #fff;
    text-decoration: none;
  }
  
  .login-box a.a2:hover {
    background: transparent;
    color: #aaa;
    border-radius: 5px;
  }
  
@media screen and (max-width: 800px) {
    .contact img {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 3;
    }

    .login-box {
        background: rgba(0,0,0,0.6);
        z-index: 5;
    }

    .login-box .user-box,
    .login-box .textarea {
        width: 100%;
    }

    .login-box form button {
        width: 80%;
    }
}

 /* ###############
 * ####################
 * 
 * Footer section
 *
 * ####################
 * ###############
 */

footer {
    position: sticky;
    top: -40px;
    width: 100%;
    height: 50vh;
    background: var(--color1);
    /* border-top-left-radius: 20px; */
    /* border-top-right-radius: 20px; */
    overflow: hidden;
    z-index: 20;
}

footer .phone {
    position: relative;
    left: 80%;
}

footer .phone img{
    position: relative;
    top: 20px;
    width: 40px;
}

footer .phone a{
    text-decoration: none;
    color: var(--color6);
    font-size: 1.2rem;
}

footer .socialmedia {
    position: relative;
    left: 40%;
    top: -16%;
}

footer .socialmedia h2 {
    color: var(--color2);

}

footer .socialmedia img {
    width: 50px;
    /* border-radius: 50%; */
    border: none;
    transition: 1s;
    margin-right: 2%;
    cursor: pointer;
}

footer .socialmedia a {
    text-decoration: none;
}

footer .socialmedia a img:hover {
    transform: scale(1.2);
}

/* footer .socialmedia a:nth-child(3) img {
    position: relative;
    top: 10px;
    width: 80px;
} */

footer .use {
    position: relative;
    left: 10%;
    top: -40%;
}

footer .use h2 {
    color: var(--color2);
}

footer .links {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

footer .links a {
    text-decoration: none;
    color: var(--color6);
    font-weight: 400;
    transition: 2s;
}

footer .links a:hover {
    transform: translate(10px);
}

@media screen and (max-width: 800px) {
    footer {
        height: 90vh;
    }
    footer .use {
        top: 2%;
        left: 36%;
    }

    footer .phone {
        left: 20%;
    }

    footer .socialmedia {
        left: 10%;
        top: 60%;
    }

    footer .socialmedia img {
        margin-right: 4%;
    }
}